@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

a {
    color: #0096DC;
    text-decoration: none;
    transition: filter .2s;
}

a:hover {
    filter: brightness(120%);
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
    padding: 0;
}

p {
    margin: 5px 0;
}