* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    height: 100vh;
    gap: 5rem;
    justify-content: space-between;
    flex-direction: column;

    .controls-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            &.uno {
                position: absolute;
                right: 10rem;
                bottom: 2rem;
                filter: drop-shadow(2px 4px 6px black);
                filter: grayscale(1);

                &:hover {
                    filter: brightness(130%);
                    filter: drop-shadow(2px 4px 6px black);
                    filter: grayscale(1);
                }
            }

            &.mount {
                position: absolute;
                left: 10rem;
                bottom: 2rem;
                filter: grayscale(1);
                opacity: 0.8;
            }
        }
    }

    .user-cards {
        position: relative;

        img {
            position: relative;
            margin: 0 -30px;
            filter: brightness(80%);
        }

        &.side {
            top: 3rem;
            img {
                margin: 0 -40px;
            }

            &.one {
                rotate: 102deg;
                align-self: baseline;
            }

            &.two {
                rotate: -102deg;
                align-self: baseline;
            }
        }
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inline {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
    }

    .middle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .main {
            display: flex;
            // position: relative;
            align-self: center;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            width: -webkit-fill-available;
            .middle-card {
                position: relative;
                top: -1rem;
                z-index: -2;
            }
        }
    }

    .cards.cards-curved {
        display: flex;
        justify-content: center;
        contain: initial;
        position: relative;
        width: 610px;
        height: 220px;
        align-self: end;
        // border: 2px dashed rgba(255, 0, 0, 0.11);
        transition: opacity 0.8s ease-in-out, filter 0.4s ease-out;
        opacity: 0.9;
        filter: brightness(80%);

        &:hover {
            opacity: 1;
            filter: brightness(100%);
        }

        .deck {
            position: absolute;
            left: 15%;
        }

        .card {
            // top: 0;
            // transition: top .2s;
            // &.select:hover {
            //     top: -2rem;
            // }

            // @function calc-angle($numcards, $i) {
            //     $angle: (279 / $numcards) * ($i + 1) - (279 / 2 + 279 / $numcards / 2);
            //     @return $angle;
            // }

            // $numcards: calc(1 * var(--numCards));
            // $i: calc(1 * var(--i));
            // $angles: ();
            // @for $j from 1 through $numcards {
            //     $angle: (279 / $numcards) * ($j + 1) - (279 / 2 + 279 / $numcards / 2);
            //     $angles: append($angles, $angle, comma);
            // }
            // transform: rotate(nth($angle-deg, $i));
            // filter: brightness(0%);
            // position: absolute;
            // z-index: auto;
            // cursor: pointer;
            // transform: rotate(calc(50deg / 6 * $i));
            // transform-origin: center bottom;
            // rotate: -35deg;
            // left: calc(38px * $i);

            $arc: 8.3333333333deg;
            top: 0;
            position: absolute;
            z-index: auto;
            cursor: pointer;
            transform: rotate(calc($arc * var(--i)));
            // transform-origin: center bottom;
            transform-origin: bottom bottom;
            rotate: -35deg;
            left: calc(38px * var(--i));
            transition: top 0.2s ease-out, filter 0.2s ease-out;

            &.uno {
                filter: brightness(0%);
            }

            &.select:hover {
                top: -2rem;
            }
        }
    }

    @keyframes rotate {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
}

.arrows {
    position: absolute;
    z-index: -1;
    background: url(../img/arrows.png) no-repeat;
    filter: drop-shadow(2px -6px 0px black);
    animation: rotate 20s linear infinite;
    opacity: .8;
    height: 400px;
    width: 400px;
    background-size: 100% 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}