* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
* html, * body {
  height: 100%;
}
* body {
  box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.7058823529);
  background-blend-mode: hard-light;
}

#app {
  display: flex;
  height: 100vh;
  gap: 5rem;
  justify-content: space-between;
  flex-direction: column;
}
#app .blocked {
  cursor: not-allowed;
}
#app .not-blocked {
  cursor: pointer;
}
#app .controls-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#app .controls-bottom img.uno {
  position: absolute;
  right: 10rem;
  bottom: 2rem;
  filter: drop-shadow(2px 4px 6px black);
  filter: grayscale(1);
}
#app .controls-bottom img.uno:hover {
  filter: brightness(130%);
  filter: drop-shadow(2px 4px 6px black);
  filter: grayscale(1);
}
#app .controls-bottom img.mount {
  position: absolute;
  left: 10rem;
  bottom: 2rem;
  filter: grayscale(1);
  opacity: 0.8;
}
#app .user-cards {
  position: relative;
  text-align: center;
}
#app .user-cards img {
  position: relative;
  margin: 0 -30px;
  zoom: 0.7;
  filter: brightness(80%);
}
#app .user-cards.side {
  top: 25vh;
}
#app .user-cards.side img {
  margin: 0 -40px;
}
#app .user-cards.side.one {
  rotate: 102deg;
  align-self: baseline;
}
#app .user-cards.side.two {
  rotate: -102deg;
  align-self: baseline;
}
#app .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app .inline {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
#app .middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#app .middle .main {
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: -webkit-fill-available;
}
#app .middle .main .middle-card {
  background: url("../img/white-card.png") no-repeat;
  position: relative;
  top: -7rem;
  z-index: -2;
  left: 42%;
  width: 125px;
  height: 179px;
}
#app .cards.cards-curved {
  display: flex;
  justify-content: center;
  contain: initial;
  width: 610px;
  height: 220px;
  align-self: end;
  transition: opacity 0.4s ease-in-out, filter 0.2s ease-out;
  opacity: 0.9;
  filter: brightness(80%);
}
#app .cards.cards-curved:hover {
  opacity: 1;
  filter: brightness(100%);
}
#app .cards.cards-curved .deck {
  position: fixed;
  left: 0;
  transform: translateX(110px);
}
#app .cards.cards-curved .card {
  top: 0;
  position: fixed;
  z-index: auto;
  transition: top 0.2s ease-out, filter 0.2s ease-out 0.07s, transform 0.2s ease-in 0.5s, rotate 0.2s ease-in 0.5s, left 0.5s ease-in;
  left: 0;
}
#app .cards.cards-curved .card.spread {
  left: calc(38px * var(--i));
  transform: rotate(calc(7.3333333333deg * var(--i)));
  rotate: -35deg;
  transform-origin: bottom bottom;
}
#app .cards.cards-curved .card.select:hover {
  top: -2rem;
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.arrows {
  position: absolute;
  z-index: -1;
  background: url(../img/arrows.png) no-repeat;
  filter: drop-shadow(2px -6px 0px black);
  animation: rotate 20s linear infinite;
  opacity: 0.8;
  height: 400px;
  width: 400px;
  background-size: 100% 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.all {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60px, -80px);
}/*# sourceMappingURL=distribuir.css.map */