* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    cursor: pointer;
}

.sameSpace {
    position: absolute;
}

.diffSpace {
    position: relative;
}

button[name='reload'] {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
