<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/components.css" type="text/css">
    <title>Uno Components</title>
</head>
<body>
    <div id="app">
        <a href="assets/css/components.css">components.css</a>
        <br>
        <div class="fonts">
            <div class="titles">
                <h1>H1</h1>
                <h2>H2</h2>
                <p>text</p>
            </div>
            <div class="font">
                <p>Cabin</p>
                <p style="font-weight: 600;">Cabin SemiBold (font-weight: 600)</p>
            </div>
        </div>
        
        <div class="form space">
            <div class="checkbox">
                <label for="chk-1">Default</label>
                <input type="checkbox" id="chk-1">
                checkbox

                <br>
                <label for="chk-2">Checked</label>
                <input type="checkbox" id="chk-2" checked>

                <br>
                <label for="chk-3">Disabled</label>
                <input type="checkbox" id="chk-3" disabled>

                <br>
                <label for="rad-1">Radio</label>
                <input type="radio" id="rad-1">

                <br>
                <label for="rad-1">Checked</label>
                <input type="radio" id="rad-1" checked>

                <br>
                <label for="rad-1">Disabled</label>
                <input type="radio" id="rad-1" disabled>
            </div>

            <div class="buttons space">
                <button>ButtonInGame</button>
                <br><br>
                <button class="force-hover">ButtonInGame hover</button>

                <br><br>
                <button disabled>ButtonInGame disabled</button>

                <br><br>
                <button style="zoom: .8;">ButtonInGame</button>
                <br><br>
                <button class="force-hover" style="zoom: .8;">ButtonInGame hover</button>

                <br><br>
                <button disabled style="zoom: .8;">ButtonInGame disabled</button>

                <br><br>
                <label for="cp-text">Campo de texto</label>
                <input type="text" id="cp-text" placeholder="Digite seu texto...">

                <br><br>
                <div class="icon-input">
                    <label for="cp-text2"><i class="fa-solid fa-magnifying-glass"></i></label>
                    <input type="text" id="cp-text2" placeholder="Pesquisar...">
                </div>

                <br><br>
                <label for="cp-text3">Campo de texto disabled</label>
                <input type="text" id="cp-text3" placeholder="Disabled..." disabled>

                <br><br>
                <div class="icon-input">
                    <label for="cp-text4"><i class="fa-sharp fa-regular fa-envelope"></i></label>
                    <input type="text" id="cp-text4" placeholder="Digite seu email">
                </div>

                <br><br>
                <div class="icon-input">
                    <label for="cp-text5"><i class="fa-solid fa-lock"></i></label>
                    <input type="password" id="cp-text5" placeholder="*******">
                </div>
            </div>
        </div>

        <div class="cards">
            <h1>Cards</h1>
            <p>class: cards</p>
            <br><br>

            <div class="card">
                <b>Sala02LimiteCaract</b>
                <div class="user">#user</div>
                <div class="users-count">
                    <i class="fa-regular fa-user"></i>
                    <span>3/4</span>
                </div>
            </div>
            <br>
            <div class="card force-hover">
                <b>Sala03Hover</b>
                <div class="user">#user</div>
                <div class="users-count">
                    <i class="fa-regular fa-user"></i>
                    <span>3/4</span>
                </div>
            </div>

            <br>
            <div class="card disabled">
                <b>Sala04Disabled</b>
                <div class="user">#user</div>
                <div class="users-count">
                    <i class="fa-regular fa-user"></i>
                    <span>4/4</span>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>

<style>
    body {
        background-color: #000;
        padding: 0;
        margin: 0;
    }
    
    #app {
        width: 50%;
        margin: 0 auto;
        color: #fff;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 5rem;
        align-items: flex-start;        
        background-color: #454444;
    }

    .fonts {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

    .space {
        margin: 5rem 0; 
    }
</style>